
route-policy {{ policy_name_out }}
  if destination in {{ prefix_name_out }} then
    set med 0
    done
  endif
  drop
end-policy
!


prefix-set {{ prefix_name_out }}
  {{ advertised_route_address_ipv4 }}/{{ advertised_route_subnet_ipv4 }} eq {{ advertised_route_subnet_ipv4 }}
end-set
!