
route-policy {{ policy_name_out }}
  if destination in {{ prefix_name_out }} then
    set med 0
    done
  endif
  drop
end-policy
!

prefix-set {{ prefix_name_out }}
  {{ advertised_route_address }}/{{ advertised_route_subnet }} eq {{ advertised_route_subnet }}
end-set
!