router bgp {{ local_asnum }}
neighbor {{ neighbor }}
 description "{{ neighbor_description }}"
 remote-as {{ neighbor_asnum }}
 address-family ipv4 unicast
  route-policy {{ policy_name_in }} in
  route-policy {{ policy_name_out }} out
  send-community-ebgp
  next-hop-self
  remove-private-AS
  soft-reconfiguration inbound always
 !
!