interfaces {
   {{ interface_name }} {
        unit 0 {            
            description {{ interface_description }};
            family inet {
                address {{ interface_address_ipv4 }}/{{ interface_subnet_ipv4 }};
            }
        }
    }
}