policy-options {
    policy-statement {{ policy_name_out }} {
        term 10 {
            from {
                route-filter {{ advertised_route_address_ipv4 }}/{{ advertised_route_subnet_ipv4 }} exact;
            }
            then accept;
        }
        term 999 {
            then reject;
        }
    }
}
protocols {
    bgp {
        group {{ interface_name }} {
            neighbor {{ neighbor_ipv4 }} {
                export {{ policy_name_out }};
            }
        }
    }
}