protocols {
    bgp {
        group {{ interface_name }} {
            family inet {
                unicast;
            }
            type external;
            neighbor {{ neighbor }} {
                description {{ neighbor_description }};
                peer-as {{ neighbor_asnum }};
                export {{ policy_name_out }};
                import {{ policy_name_in }};
            }
        }
    }
}