- get_bgp_neighbors:
   global:
    {{ peee-group }}:
      _mode: strict
      {% for neighbor in neighbors -%}
      {{ neighbor.neighbor_address }}
        is_enabled: True
        is_up: True
      {{% endfor -%}}