 - get_environment:
     memory:
       available_ram: '>{{ memory_maxrate }}'
     cpu:
       {% for card_cpu in cards_cpu -%}
       {{ card_cpu.card_name }}:
         '%usage': '<{{ card_cpu.cpu_maxrate }}'
       {% endfor -%}