 - get_environment:
     memory:
       available_ram: '>{{ memory_util_rate }}'
     cpu:
       {% for card_cpu in cards_cpu -%}
       0/RP0/CPU0:
         '%usage': '<{{ card_cpu.cpu_util_rate }}'
       {% endfor -%}