- get_bgp_neighbors:
   global:
    peers:
      _mode: strict
{%- for neighbor_address in bgp_neighbor %}      
      {{ neighbor_address }}:
        is_enabled: True
        is_up: True
{% endfor %}