- get_bgp_neighbors:
   global:
    peers:
      _mode: strict
{%- for neighbor in bgp_neighbor %}      
      {{ neighbor.neighbor_address }}:
        is_enabled: True
        is_up: True
        address_family:
{%- if neighbor.ip_protocol == 4 %}
          ipv4:
{%- elif neighbor.ip_protocol == 6 %}
          ipv6:
{%- endif %}
            sent_prefixes: {{neighbor.advertise_prefixes}}
{% endfor %}
